<div class="w-full my-2">
  <button
    (click)="toggleList()"
    [class.hidden]="isListOpen"
    class="p-3 hover:text-accent cursor-pointer transition-all duration-200 pb-3 py-0 text-start w-full ext-slate-500 dark:text-slate-400 uppercase font-bold tracking-wider"
  >
    <i class="fa-solid fa-language"></i>
    {{ 'NAVBAR.CHANGE_LANG_BTN' | translate }}
  </button>
  <div
    [class.hidden]="!isListOpen"
    class="w-full bg-slate-800 text-white border border-accent px-3 py-2 rounded-lg text-sm cursor-pointer flex flex-col gap-1"
  >
    <button
      type="button"
      class="hover:text-accent border-b border-accent cursor-pointer"
      (click)="changeLang('ar')"
      value="ar"
    >
      العربية
    </button>
    <button
      type="button"
      class="hover:text-accent border-b border-accent cursor-pointer"
      (click)="changeLang('en')"
      value="en"
    >
      English
    </button>
    <button
      type="button"
      class="hover:text-accent border-b border-accent cursor-pointer"
      (click)="changeLang('it')"
      value="it"
    >
      Italiano
    </button>
    <button
      type="button"
      class="hover:text-accent border-b border-accent cursor-pointer"
      (click)="changeLang('fr')"
      value="fr"
    >
      Français
    </button>
    <button
      type="button"
      class="hover:text-accent cursor-pointer"
      (click)="changeLang('de')"
      value="es"
    >
      Deutsch
    </button>
  </div>
</div>
