<section
  class="border mt-3 border-slate-200 rounded-[16px] p-4 bg-white dark:bg-dark-soft"
  aria-label="Comments"
>
  <div class="flex items-center gap-2 mb-2">
    <h3 class="font-bold text-[15px] text-slate-900 dark:text-gray-100">
      {{ 'COMMENTS.TITLE' | translate }}
    </h3>
    <span class="bg-blue-100 text-blue-600 text-[12px] font-bold px-2 py-0.5 rounded-full">{{
      commentList.length
    }}</span>
  </div>

  <!-- comment details  -->
  @for (comment of commentList; track comment._id) {
    <div class="flex gap-2 mt-2 -mb-2 group dark:bg-dark p-2 rounded-2xl">
      <img
        [src]="comment.commentCreator.photo"
        [alt]="comment.commentCreator.name"
        class="w-8 h-8 rounded-full object-cover shrink-0 mt-1 bg-slate-100 border border-slate-50"
      />

      <div class="flex-1 flex flex-col items-start min-w-0 dark:bg-dark">
        <div class="bg-slate-100 rounded-2xl rounded-tl-none px-3.5 py-2.5 max-w-full dark:bg-dark">
          <div class="flex items-center gap-1.5 mb-0.5">
            <span
              class="text-[13px] font-bold text-slate-900 hover:underline cursor-pointer dark:text-gray-100"
              >{{ comment.commentCreator.name }}</span
            >
          </div>
          <div class="flex items-center gap-1 text-[12px] text-slate-500 mb-1 dark:text-gray-100">
            <span>@{{ comment.commentCreator.username }}</span>
            <span>&middot;</span>
          </div>
          <p class="text-gray-500 text-xl dark:text-gray-100 mt-3">
            {{ comment.content }}
          </p>
          @if (comment.image || comment.photo) {
            <img
              [src]="comment.image || comment.photo"
              alt="post Image"
              class="w-full h-37.5 object-cover"
            />
          }
          @if (comment.content && isUpdating === false) {
            <p class="text-[14px] text-slate-800 wrap-break-word">
              {{ comment.content }}
            </p>
          }
          @if (isUpdating === true && commentId === comment._id) {
            <textarea
              #updateTextArea
              [formControl]="updateContent"
              class="bg-blue-50 dark:bg-dark dark:placeholder:text-gray-100 dark:text-gray-100 form w-full border-gray-200 placeholder:text-gray-500 pt-3 pb-12 mb-2"
              [placeholder]="comment.content"
            ></textarea>
            <div class="flex justify-end items-center gap-3">
              <button
                (click)="cancelUpdate()"
                (click)="updateTextArea.value = ''"
                class="rounded-2xl cursor-pointer bg-amber-50 border border-accent border-solid text-accent text-sm font-semibold px-3 py-1.5 hover:-translate-y-0.5 transition-all duration-200"
              >
                {{ 'COMMENTS.CANCEL' | translate }}
              </button>
              <button
                (click)="updateComment(comment._id)"
                (click)="updateTextArea.value = ''"
                class="rounded-2xl cursor-pointer bg-accent border-accent border text-amber-50 text-sm font-semibold px-3 py-1.5 hover:scale-105 transition-all duration-200"
              >
                {{ 'COMMENTS.UPDATE' | translate }}
              </button>
            </div>
          }
          <!-- @if (comment.commentCreator.photo) {
            <img
              [src]="comment.commentCreator.photo"
              [alt]="comment.commentCreator.name"
              class="w-full h-37.5 object-cover"
            />
          } -->
        </div>
        <div
          class="flex items-center gap-3 mt-1 ml-2 text-[12px] text-slate-500 font-semibold dark:text-gray-100"
        >
          <span class="cursor-pointer hover:underline">{{
            comment.createdAt | date: 'shortTime'
          }}</span>
          <button
            [class.text-accent]="comment.likes.includes(user._id)"
            (click)="toggleLikeComment(comment)"
            class="cursor-pointer hover:underline"
          >
            {{ 'COMMENTS.LIKES' | translate }} ({{ comment.likes.length }})
          </button>
          <button class="cursor-pointer hover:underline">
            {{ 'COMMENTS.REPLIES' | translate }} {{ comment.repliesCount }}
          </button>

          @if (comment.commentCreator._id === user._id) {
            <button
              (click)="setDataToUpdate()"
              (click)="commentId = comment._id"
              class="cursor-pointer items-center p-2 hover:bg-neutral-tertiary-medium dark:hover:text-accent hover:text-heading rounded dark:text-accent"
            >
              <i class="fa-solid fa-pen" aria-hidden="true"></i>
            </button>
            <button
              (click)="deleteComment(comment._id)"
              class="cursor-pointer text-red-700 items-center p-2 hover:bg-neutral-tertiary-medium dark:hover:text-red-500 hover:text-heading rounded dark:text-red-600"
            >
              <i class="fa-solid fa-trash" aria-hidden="true"></i>
            </button>
          }
        </div>
      </div>
    </div>
    <app-replies [postId]="postId" [comment]="comment"></app-replies>
  }

  <!-- Create Comment  -->
  <form #form (submit)="submitForm($event, form)" class="flex gap-2 mt-4">
    <img
      [src]="user.photo"
      [alt]="user.name"
      class="w-8 h-8 rounded-full object-cover shrink-0 mt-1 bg-slate-100 border border-slate-50"
    />

    <div
      class="flex-1 bg-slate-100 border border-transparent focus-within:border-blue-300 focus-within:ring-4 focus-within:ring-blue-50 focus-within:bg-white transition-all rounded-[20px] p-2 flex flex-col dark:text-gray-100 dark:bg-dark dark:focus-within:bg-dark dark:border-dark"
    >
      <textarea
        [formControl]="content"
        class="w-full bg-transparent border-none text-[14px] text-slate-800 placeholder-slate-500 resize-none outline-none px-2 pt-1 pb-3 min-h-15 dark:bg-dark dark:text-gray-100"
        [placeholder]="'COMMENTS.PLACEHOLDER' | translate"
      ></textarea>
      @if (imgUrl) {
        <div class="relative my-2">
          <img
            [src]="imgUrl"
            class="w-full rounded-2xl shadow max-h-52 object-cover"
            alt="postFile"
          />
          <button
            (click)="cancelCommentImg()"
            class="absolute hover:scale-110 border-2 border-accent border-solid transition-all duration-100 cursor-pointer top-4 right-4 bg-amber-50 text-accent text-2xl font-bold rounded-xl max-w-14 max-h-14 min-w-8 min-h-8 flex items-center justify-center"
          >
            x
          </button>
        </div>
      }

      <div class="flex items-center justify-between px-1">
        <div class="flex items-center gap-1">
          <input (change)="changeImg($event)" type="file" id="file" class="hidden" />
          <label
            for="file"
            class="flex cursor-pointer items-center gap-2 text-slate-600 hover:bg-slate-50 px-2 py-1.5 rounded-lg transition-colors group"
          >
            <i
              class="fa-regular fa-image text-[#22c55e] text-[1.1rem] group-hover:scale-110 transition-transform"
              aria-hidden="true"
            ></i>
            <span class="text-[14px] font-semibold text-slate-600 hidden md:block">{{
              'COMMENTS.PHOTO_VIDEO' | translate
            }}</span>
          </label>
        </div>

        <button
          type="submit"
          class="w-8 cursor-pointer h-8 rounded-full bg-primary hover:bg-accent text-white flex items-center justify-center transition-colors"
        >
          <i class="fa-solid fa-paper-plane text-[13px] ms-1 mt-.5" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</section>
